name: Deploy Pay Frontend

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      personal_access_token:
        required: true

jobs:
  deploy:
    runs-on: [self-hosted, Linux, X64]

    steps:
      - uses: actions/checkout@v4

      - name: Deploy Order Tracking Frontend
        run: |
          echo "Deploying TRACKING Frontend PROD"
          cd /home/ubuntu/projects/thecargo/order-tracking
          /home/ubuntu/projects/thecargo/order-tracking/deploy.sh
