name: Deploy Pay Front

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: [self-hosted, Linux, X64]

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Deploy Pay Frontend
        env:
          GITHUB_PAT: ${{ secrets.GH_PAT }}
        run: |
          echo "Deploying PAY Frontend PROD"
          cd /home/ubuntu/projects/thecargo/pay-to-orders
          git config remote.origin.url "https://${GITHUB_PAT}@github.com/TheCarGo-io/pay-to-orders.git"
          git pull
          sudo /home/ubuntu/projects/thecargo/pay-to-orders/deploy.sh
